:root {
	--color-yellow: #FF8A00;
	--color-dark: #100e17;
	--color-white: #FAFAFA;
	--color-highlight-one: #72E0D1;
	--color-highlight-two: #F5D77B;
	--color-shadow-start: #00000030;
	--color-shadow-end: #0000003b;
	--font-default: "Roboto", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-white);
	font-family: var(--font-default);
}

main {
	width: 50%;
	margin: auto;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.listEl {
	cursor: pointer;
}

.value {
	font-size: 1.5em;
	width: 100%;
	text-align: center;
	color: var(--color-highlight-one);
}

.cat_drawer {
	float: left;
	margin-right: 2em;
}

.cat_viewer {
	width: 75%;
	float: right;
	text-align: center;
}

.cat_pic {
	width: inherit;
}

.setclear {
	clear: both;
}